.lead {
  /*padding: 40px 15px;*/
  text-align: left;
}

.starter-template {
    padding: 0px 0px;
    text-align: center;
}

g .x.axis text {
    text-anchor: end !important;
    transform: rotate(-30deg);
}

#maincontainer  {
	padding: 5px 0px;
}

td {
	text-align: left;
}

.dc-chart g.row text {fill: black;}

h3 {
	color: grey;
}

/*@media (min-width: 768px){
    .navbar-header{ float: none;}
    .navbar-toggle{ display: block;}
    .navbar-collapse.collapse{ display: none !important;}
}*/
