.lead {
  /*padding: 40px 15px;*/
  text-align: left;
}

.starter-template {
    padding: 0px 0px;
    text-align: center;
}

g .x.axis text {
    text-anchor: end !important;
    transform: rotate(-30deg);
}

#maincontainer  {
	padding: 5px 0px;
}

td {
	text-align: left;
}

.dc-chart g.row text {fill: black;}

h3 {
	color: grey;
}

/* Large desktop */
@media (min-width: 1200px) { ... }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { ... }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { ... }
 
/* Landscape phones and down */
@media (max-width: 480px) { ... }
