.lead {
  /*padding: 40px 15px;*/
  text-align: left;
}

.starter-template {
    padding: 10px 10px;
    text-align: center;
}

g .x.axis text {
    text-anchor: end !important;
    transform: rotate(-30deg);
}

#maincontainer  {
	padding: 15px 0px;
}
